.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a ,
.nav-toggle {
    color: #fff;
}

a:hover {
    color: #7fffd4;
    text-decoration-color: #ac4c1e;
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .title ,
    .logo {
      
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
    
    .tech-main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% auto;
    }

    .tech-nav {
        ul {
            li {
                padding: 1%;
                margin: 1%;
                background-color: #ff7f37;
                display: inline-block;

                a {
                    text-decoration: none;
                    
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}
